embedding_model="embedding-3"
embedding_base_url="https://open.bigmodel.cn/api/paas/v4"
embedding_api_key="d2366231263c4547a997282dc08f5ed3.qcnSLWGfycKfBl9s"

llm_model="glm-4.7"
llm_api_key="d2366231263c4547a997282dc08f5ed3.qcnSLWGfycKfBl9s"
llm_base_url="https://open.bigmodel.cn/api/paas/v4"